{% extends 'layout/app.twig' %}

{% block title %}Matcha Profile{{ data[0].Login }}{% endblock %}

{% block content %}
    {#{% for user in data %}#}
    {#<h5>{{ user.getAllDataFromUser() }}</h5>#}
    {#{% endfor %}#}
    <div style="display: flex; flex-direction: column; text-align: center; margin-top: 10%">
        <div style="display: flex; flex-direction: column; justify-content: center; align-content: center;align-items: center">
            <img style="height: 16vw; width: 14vw;" src="{{ data[0].Avatar }}">
            <div>
                {#<form action='{{ path_for('') }}' id='photo' enctype='multipart/form-data' method='post'>#}
                    <div style="display: flex; flex-direction: row">
                    <input id='photoloader' type='file' name='photoloader' accept='image/*'>
                        <button id='pbtn'>Upload Picture</button>
                    </div>
                    <script>

                        var button = document.getElementById('pbtn');
                        button.onclick = function () {
                            var photoloader = document.getElementById('photoloader');
                            console.log(photoloader);
                            this.postRequest = "";
                            this.controllerMethod = "/profile/uploadPhoto";
                            var http = new XMLHttpRequest();
                            http.onreadystatechange = function () {
                                if (this.readyState == 4 && this.status == 200)
                                {
                                   console.log(this.responseText);
                                }
                            };
                            http.open("POST", this.controllerMethod, true);
                            http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                            http.send(this.postRequest);
                        }
                    </script>
                {#</form>#}

                {#<a href="{{ path_for('profile.update', {username : data[0].Login}) }}"><button>Update</button></a>#}
            </div>

        </div>
        <div>
            Login: {{ data[0].Login }}
            <a href="{{ path_for('profile.update', {username : data[0].Login}) }}"><button>Update</button></a>
        </div>
        <div>
            Gender: {{ data[0].Gender }}
        </div>
        <div>
            Age: {{ data[0].Age }}
            <a href="{{ path_for('profile.update', {username : data[0].Login}) }}"><button>Update</button></a>
        </div>
        <div>
            Email: {{ data[0].Email }}
            <a href="{{ path_for('profile.update', {username : data[0].Login}) }}"><button>Update</button></a>
        </div>
        <div>
            First and Last name: {{ data[0].FirstName }} {{ data[0].LastName }}
            <a href="{{ path_for('profile.update', {username : data[0].Login}) }}"><button>Update</button></a>
        </div>
        <div>
            Place: {{ data[0].City }}, {{ data[0].Country }}
            <a href="{{ path_for('profile.update', {username : data[0].Login}) }}"><button>Update</button></a>
        </div>

        <div>
            Orientation: {{ data[0].Orientation }}
            <a href="{{ path_for('profile.update', {username : data[0].Login}) }}"><button>Update</button></a>
        </div>
        <div>
            Tags: {{ data[0].Tags }}
            <a href="{{ path_for('profile.update', {username : data[0].Login}) }}"><button>Update</button></a>
        </div>
        <div>
            Bio: <textarea>{{ data[0].Bio }}</textarea>
            <a href="{{ path_for('profile.update', {username : data[0].Login}) }}"><button>Update</button></a>
        </div>
    </div>
    </br>
    {#<p style="display: flex; justify-content: center; color: white">{{ data[0].getAllDataFromUser() }}</p>#}
    {#<a href="{{ path_for('profile.update', {username : data[0].Login}) }}"><button>Update</button></a>#}
{% endblock %}