<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>{%block title%}{% endblock %}</title>
    {% block header %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/CSS/template.css">
</head>
{#<body style="background-color: white">#}
<body>
<a href="/"><button>Main Page</button></a>

<a href="{{ path_for('chat') }}"><button>Chat</button></a>
<a href="{{ path_for('users') }}"><button>Users</button></a>
<a href="{{ path_for('take.profile') }}"><button>Profile</button></a>
<a href="{{ path_for('signin') }}"><button>Sign In</button></a>
<a href="{{ path_for('signup') }}"><button>Sign Up</button></a>
<a href="{{ path_for('topics') }}"><button>Topic</button></a>
<a href="{{ path_for('signin.logout') }}"><button>Log out</button></a>
{% block content %}{% endblock %}

</body>
</html>