{% extends 'layout/app.twig' %}

{% block title %}Matcha User {{ data[0].Login }}{% endblock %}

{% block content %}
    {#{% for user in data %}#}
    {#<h5>{{ user.getAllDataFromUser() }}</h5>#}
    {#{% endfor %}#}
    <div style="display: flex; flex-direction: column; text-align: center; margin-top: 10%">
        <div style="display: flex; flex-direction: column; justify-content: center; align-content: center;align-items: center">
            <img style="height: 16vw; width: 14vw;" src="{{ data[0].Avatar }}">

        </div>
        <div>
            Login: {{ data[0].Login }}
        </div>
        <div>
            Gender: {{ data[0].Gender }}
        </div>
        <div>
            Age: {{ data[0].Age }}
        </div>
        <div>
            Email: {{ data[0].Email }}
        </div>
        <div>
            First and Last name: {{ data[0].FirstName }} {{ data[0].LastName }}
        </div>
        <div>
            Place: {{ data[0].City }}, {{ data[0].Country }}
        </div>

        <div>
            Orientation: {{ data[0].Orientation }}
        </div>
        <div>
            Tags: {{ data[0].Tags }}
        </div>
        <div>
            Bio: <textarea disabled style="resize: vertical">{{ data[0].Bio }}</textarea>
        </div>
    </div>
{% endblock %}