{% extends 'layout/app.twig' %}

{% block title %}Matcha Forum{% endblock %}

{% block content %}
   <div style="display: flex; justify-content: center; background-color: rgba(20,20,20,0.7);" >
       <form action="{{ path_for('topics.add') }}" method="post">
            <label style="color: white" for="Title">Title:</label>
           <input type="text" name="Title" required>
           <label style="color: white" for="Description">Description:</label>
           <input type="text" name="Description" required>
           <button type="submit">Create Topic</button>
       </form>
   </div>
    <br>
    <div style="display: flex; text-align: center; flex-direction: column">
    {% for topic in data %}
        <div>
            {{ topic.getTopics() }}
            <br>
            <a href="{{ path_for('topics.show', { id: topic.TopicID}) }}">Explore!</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
{#{% extends 'layout/app.twig' %}#}

{#{% block content %}#}
    {#{% for topic in topics %}#}
        {#<div class="topic">#}
            {#<h4 style="text-align: center">#}
                {#<a href="{{ path_for('topics.show', {id: topic.ID}) }}">{{ topic.title }}</a>#}
            {#</h4>#}
        {#</div>#}
    {#{% endfor %}#}
{#{% endblock %}#}